{{> index/nav}}

<div class="container-fluid landing-title top-background-image">
    <div class="row">
        <div class="main-wrapper">
            <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10 header-wrapper">
                <h1 class="head-line">AfterHours</h1>
                <h2 class="main-title">A social platform for people who work at night to socialize.</h2>
                <a class="signup btn">Watch video</a>
                <a class="signup btn">Get the app</a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-offset-1 col-xs-10 signform-wrapper">
                <form method="post" action="/signup">
                    <div class="form-group">
                        <label for="id_firstname">First Name</label>
                        <p class="error-msg">{{ firstname_error }}</p>
                        <input type="text" class="form-control" id="id_firstname" placeholder="First Name" name="firstname" maxlength=30>
                    </div>
                    <div class="form-group">
                        <label for="id_lastname">Last Name</label>
                        <p class="error-msg">{{ lastname_error }}</p>
                        <input type="text" class="form-control" id="id_lastname" placeholder="Last Name" name="lastname" maxlength=30>
                    </div>
                    <div class="form-group">
                        <label for="id_gender">Gender</label>
                        <select id="id_gender" class="form-control" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="value">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <p class="error-msg">{{ username_error }}</p>
                        <input type="text" class="form-control" id="id_username" placeholder="Username" name="username" maxlength=30 required>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email address</label>
                        <p class="error-msg">{{ email_error }}</p>
                        <input type="email" class="form-control" id="id_email" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <p class="error-msg">{{ pass_not_match_error }}</p>
                        <p class="error-msg">{{ password_error }}</p>
                        <input type="password" class="form-control" id="id_password" placeholder="Password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Password confirmation</label>
                        <p class="error-msg">{{ pass_not_match_error }}</p>
                        <p class="error-msg">{{ password2_error }}</p>
                        <input type="password" class="form-control" id="id_password2" placeholder="Password" name="password2" required>
                    </div>
                    <input type="submit" class="btn btn-success btn-block" value="Sign up for KlokIn" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- section of About -->
<div class="container fourth-section">
    <div class="row text-center">

            <h1>ABOUT</h1>
            <div class="col-md-offset-3 col-md-6">
                <p>
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                    I dont knowI dont knowI dont knowI dont knowI dont know
                </p>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <i class="fa fa-qrcode fa-5x about-qr" aria-hidden="true"></i>
                    <p class="about-below-text">
                        I dont knowI dont knowI dont knowI dont knowI dont know
                        I dont knowI dont knowI dont knowI dont knowI dont know
                    </p>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <i class="fa fa-desktop fa-5x about-desktop" aria-hidden="true"></i>
                    <p class="about-below-text">
                        I dont knowI dont knowI dont knowI dont knowI dont know
                        I dont knowI dont knowI dont knowI dont knowI dont know
                    </p>
                </div>
            </div>

    </div>
</div>
